.Major {
  /*aligning using flex-box;*/
  display: flex;
  flex-direction: column;
  align-items: center;
}
.BackgroundClass {
  /* with display as flex we can align items in center or flex-start or flex-end using alig-items*/
  /* justify content as space around or space between etc.*/
  /*same way we have flex-direction as well.*/
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  border: 1px solid lightcyan;
  background-color: lightcyan;
  height: 200px;
  width: 500px;
  border-radius: 18px;
}

.Player {
  border: 1px solid white;
  background-color: white;
  /* box-shadow: horizontal right +ve, vertical bottom +ve, blur radius and color */
  box-shadow: 1px 3px 4px rgb(100, 100, 100);
  height: 100px;
  width: 100px;
  border-radius: 50px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/*Used when mouse is moved over that element, used for elements, classes*/

.ButtonClass:hover {
  background-color: lightskyblue;
  color: lightseagreen;
}

.ResetButton:hover {
  background-color: white;
  color: black;
}
/*disabled has priority more than hover.*/
.ButtonClass:disabled {
  background: rgb(166, 179, 187);
  color: white;
}

.ButtonClass {
  height: 35px;
  width: 80px;
  border-radius: 5px;
  margin-top: 40px;
  margin-right: 20px;
  background-color: lightseagreen;
  color: lightcyan;
  /*Defines a 3-d border around the button. with shadow on right and bottom*/
  border-style: none;
}

.WinnerText {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 40px;
  height: 100px;
  width: 550px;
  border: 2px solid darkgreen;
  background-color: rgb(187, 245, 187);
  border-radius: 20px;
}

.ResetButton {
  margin-top: 0px;
  background-color: white;
  color: black;
}

.Text {
  margin-left: 20px;
  font-size: 20px;
}
